################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/source/ZzzScene.cpp
/source/Global Debug
/source/Global Release
/tmp/Global_Debug
*.pdb
*.exp
*.lib
/Global Release/Main.exe
/Global Release/Main
/Global Debug/wsctlc.log
/Global Debug/PacketList.txt
/Global Debug/Screen(06_06-20_19)-0000.jpg
/Global Debug/Main.exe
/Global Debug/Main
/.vs/Main/v17/Solution.VC.db-wal
/.vs/Main/v17/ipch
/.vs/Main/v17
/.vs/Main/FileContentIndex
/Global Debug/Main.exe
/Global Release/Main.exe
/source/ZzzScene.cpp
